@model TBGestionStock.ASP.Models.ProduitModifyVM

@{
    ViewData["Title"] = "Modification";
}

<h1>Modification</h1>

<h4>ProduitModifyVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Reference</label>
                <input asp-for="Reference" class="form-control" readonly="@(true)" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nom</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Prix</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stock</label>
                <input asp-for="Stock" class="form-control" readonly="@(true)" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Modification de stock</label>
                <input asp-for="ModificationStock" class="form-control" />
                <span asp-validation-for="ModificationStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Catégorie</label>
                <span asp-validation-for="CategorieId" class="text-danger"></span>
                <select asp-for="CategorieId" class="form-select" aria-label="Default select example">
                    @foreach (var item in Model.categories)
                    {
                        <option value="@item.ID">@item.Name</option>   
                    }
                    
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
